.field{
  position: relative;
  padding: 1rem;
  font-family: 'Segoe UI';
}
.title{
  position: absolute;
  top: 0;
  left:1.5rem;

  text-align: right;
  padding: 0.3em;

  border-radius: 5em;
  background-color: #fafafa;

  color: #1a1a1a;
  font-size: 0.94rem;
  font-weight: 600;
  text-transform: capitalize;
}
.field textarea{
  width:100%;
  max-width: 25rem;
  padding: 0.6rem;
  padding-top: 1.3rem;
  
  font-size: 1.05rem;
  font-weight: 500;
  border-radius: 0.2rem;
  border: 0.15rem solid #9b9b9b;
  background: #fafafa;
  font-family: inherit;
}